#code1{
	height:800px;
	font-size:14px;
	border-bottom:2px solid #999;
}
.ui-resizable-s{height:10px;}
/* footer */
.app_cat_h{
	font-size:30px;
	border-bottom:4px solid #80FF00;
	padding:8px 10px;
	background-color:#EEE;
}
ul.app_cat_ul{
	padding:0px;
	list-style:none;
	overflow:hidden;
}
ul.app_cat_ul li a{
	padding:8px 10px;
	display:block;
	color:#555;
	background-color:#FFF;
	border:1px solid #EEE;
	border-top:0px;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
ul.app_cat_ul li a:hover{
	background-color:#EEE;
}
.footer{
	background-color:#EEE;
	color:#666;
	height:60px;
	text-align:center;
	padding:10px;
	overflow:hidden;
}
.header{
	background-color:#F9F9F9;
	border-bottom:4px solid #008080;
}
.header_img{
	background-image:url(/img/logo.png);
	background-repeat:no-repeat;
	background-size:200px 60px;
	width:200px;
	height:60px;
	margin:5px 0px;
}
/* nav */
div.nav_bar{
	position:relative;
}
div.header_nav{
	position:absolute;
	right:0px;
	top:7px;
}
ul.nav_ul{
	margin:0px;
	padding:0px;
	list-style:none;
	overflow:hidden;
}
ul.nav_ul li{
	float:left;
	margin-right:3px;
}
ul.nav_ul li a{
	padding:12px;
	display:block;
	color:#555;
	background-color:#FFF;
	border:1px solid #EEE;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
ul.nav_ul li a:hover{
	background-color:#EEE;
}
@media (max-width : 768px) {
	div.header_nav{
		position:relative;
		top:0px;
		margin-bottom:5px;
	}
	ul.nav_ul li{
		float:none;
	}
}
ul.ul_buttons li a{
	margin:5px 0px;
	color:#555;
	background-color:#FFF;
	border:1px solid #C0C0C0;
}